@{
    ViewData["Title"] = "Asset Score";
}

<h1 class="mt-4">Asset Score</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
        Choose a property, and you will see all Asset Score data.
    </li>
</ol>
