<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="icon" type="image/png" href="~/logo.ico" sizes="32x32">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    @await RenderSectionAsync("Css", false);
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
        <i class="fas fa-bars"></i>
    </button>
    <a class="navbar-brand ps-3" asp-area="" asp-controller="Home" asp-action="Index">DoNotWaste</a>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                        <div class="sb-nav-link-icon">
                            <i class="fas fa-tachometer-alt"></i>
                        </div>
                        Dashboard
                    </a>
                    <div class="sb-sidenav-menu-heading">Dataset</div>
                    <a class="nav-link" asp-area="" asp-controller="CoSSMic" asp-action="Index">
                        <div class="sb-nav-link-icon">
                            <i class="fa-solid fa-building"></i>
                        </div>
                        CoSSMic Buildings
                    </a>
                    <div class="sb-sidenav-menu-heading">Tools</div>
                    <a class="nav-link" asp-area="" asp-controller="PortfolioManager" asp-action="Index">
                        <div class="sb-nav-link-icon">
                            <i class="fa-solid fa-plug"></i>
                        </div>
                        Portfolio Manager
                    </a>
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                        <div class="sb-nav-link-icon">
                            <i class="fa-solid fa-lightbulb"></i>
                        </div>
                        Asset Score
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div id="overlay" style="display:none;">
                    <div class="spinner"></div>
                </div>
                @RenderBody()
            </div>
        </main>
    </div>
</div>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>